<ion-view view-title="Categories">
  <ion-nav-buttons side="primary">
    <button class="button ion-plus-round"
            ui-sref="main.newCategory"
            title="Add category">
    </button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item ng-repeat="category in list track by $index"
                ng-click="go($index)">
        {{category}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
